@(userAddresses: Seq[UserAddress])

@for(userAddress <- userAddresses) {
    <strong>@userAddress.firstname</strong>
    @userAddress.lastname
    @userAddress.id
    @userAddress.userId
    @userAddress.address
    @userAddress.zipcode
    @userAddress.city
    @userAddress.country
    <a href="@controllers.view.routes.UserAddressController.updateUserAddress(userAddress.id)">Edit</a>
    <a href="@controllers.view.routes.UserAddressController.deleteUserAddress(userAddress.id)">Delete</a>
    <br>
}