@import controllers.view.CreateProductForm
@(product: Form[CreateProductForm], stocks: Seq[Stock], categories: Seq[ProductCategory], subcategories: Seq[ProductSubcategory])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.view.routes.ProductController.createProductHandle()) {
    @helper.CSRF.formField
    @inputText(product("name"))
    @inputText(product("description"))

    <label for="stock"></label>
    <select name="stockId" id="stock">
    @for(entry <- stocks) {
        <option value="@entry.id">@entry.totalPrice</option>
    }
    </select>

    <label for="category"></label>
    <select name="categoryId" id="category">
    @for(entry <- categories) {
        <option value="@entry.id">@entry.name</option>
    }
    </select>

    <label for="subcategory"></label>
    <select name="subcategoryId" id="subcategory">
    @for(entry <- subcategories) {
        <option value="@entry.id">@entry.name</option>
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Add Product"/>
    </div>
}
