@(message: String, style: String = "scala")

    @defining(play.core.PlayVersion.current) { version =>

        <section id="top">
            <div class="wrapper">
                <h1><a href="https://playframework.com/documentation/@version/Home">@message</a></h1>
            </div>
        </section>

        <div style="border: 4px solid grey" id="content" class="wrapper doc">

            <div style="border: 1px solid black">
                <h2 style="color: darkslategray">Categories:</h2>
                <a href="/form/category/create">Add</a>
                <a href="/form/category/list">List</a>
                <div style="margin-bottom: 10px"></div>
            </div>


            <div style="border: 1px solid black">
                <h2 style="color: darkslategray">Specific Order items:</h2>
                <a href="/form/order-item/create">Add</a>
                <a href="/form/order-item/list">List</a>
                <div style="margin-bottom: 10px"></div>
            </div>


            <div style="border: 1px solid black">
                <h2 style="color: darkslategray">Payment Money Users:</h2>
                <a href="/form/payment-money/create">Add</a>
                <a href="/form/payment-money/list">List</a>
                <div style="margin-bottom: 10px"></div>
            </div>
            <div style="border: 1px solid black">
                <h2 style="color: darkslategray">Orders:</h2>
                <a href="/form/order/create">Add</a>
                <a href="/form/order/list">List</a>
                <div style="margin-bottom: 10px"></div>
            </div>

            <div style="border: 1px solid black">
                <h2 style="color: darkslategray">Payment options:</h2>
                <a href="/form/payment/create">Add</a>
                <a href="/form/payment/list">List</a>
                <div style="margin-bottom: 10px"></div>
            </div>

            <div style="border: 1px solid black">
                <h2 style="color: darkslategray">Products Stocks:</h2>
                <a href="/form/stock/create">Add</a>
                <a href="/form/stock/list">List</a>
                <div style="margin-bottom: 10px"></div>
            </div>

            <div style="border: 1px solid black">
                <h2 style="color: darkslategray">Product Subcategories:</h2>
                <a href="/form/subcategory/create">Add</a>
                <a href="/form/subcategory/list">List</a>
                <div style="margin-bottom: 10px"></div>
            </div>

            <div style="border: 1px solid black">
                <h2 style="color: darkslategray">User Info: :</h2>
                <a href="/form/user-info/create">Add</a>
                <a href="/form/user-info/list">List</a>
                <div style="margin-bottom: 10px"></div>
            </div>

            <div style="border: 1px solid black">
                <h2 style="color: darkslategray">All Users:</h2>
                <a href="/form/user/create">Add</a>
                <a href="/form/user/list">List</a>
                <div style="margin-bottom: 10px"></div>
            </div>

            <div style="border: 1px solid black">
                <h2 style="color: darkslategray">Coupons:</h2>
                <a href="/form/coupon/create">Add</a>
                <a href="/form/coupon/list">List</a>
                <div style="margin-bottom: 10px"></div>
            </div>

            <div style="border: 1px solid black">
                <h2 style="color: darkslategray">All products:</h2>
                <a href="/form/product/create">Add</a>
                <a href="/form/product/list">List</a>
                <div style="margin-bottom: 10px"></div>
            </div>
        </div>
    }
