@import controllers.view.CreateSubcategoryForm
@(subcategory: Form[CreateSubcategoryForm], categories: Seq[Category])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.view.routes.SubcategoryController.createSubcategoryHandle()) {
    @helper.CSRF.formField
    @inputText(subcategory("name"))

    <label for="category">category</label>
    <select name="categoryId" id="category">
    @for(entry <- categories) {
        <option value="@entry.id">@entry.name</option>
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Add Subcategory"/>
    </div>
}
