@import controllers.view.CreateUserAddressForm
@(userAddress: Form[CreateUserAddressForm], users: Seq[User])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.view.routes.UserAddressController.createUserAddressHandle()) {
    @helper.CSRF.formField
    @inputText(userAddress("firstname"))
    @inputText(userAddress("lastname"))
    @inputText(userAddress("address"))
    @inputText(userAddress("zipcode"))
    @inputText(userAddress("city"))
    @inputText(userAddress("country"))

    <label for="user">User </label>
    <select name="userId" id="user">
    @for(entry <- users) {
        <option value="@entry.id">@entry.email</option>
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Add UserAddress"/>
    </div>
}
